<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
	<a href="{{site.baseurl}}/"><img class="badge" src="https://s.gravatar.com/avatar/b4820a09d5022bb974123ecb447809f6?s=80" alt="badge"></a>
	{% for node in site.pages %}
		{% unless node.nav_exclude %}
		    {% if page.url == node.url %}
		      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a>
                    {% elsif page.title == '404' %}

		    {% else %}
		      <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
		    {% endif %}
	    {% endunless %}
  	{% endfor %}
    </nav>
</header>
